---
import type { GetStaticPathsOptions, Page } from 'astro'
import type { CollectionEntry } from 'astro:content'
import { getCollection } from 'astro:content'
import Main from '~/components/Main.astro'
import Pagination from '~/components/Pagination.astro'
import PostList from '~/components/PostList.astro'
import BaseLayout from '~/layouts/BaseLayout.astro'

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const allPosts = await getCollection('posts')
  return paginate(allPosts, { pageSize: 6 })
}

type Props = {
  page: Page
}

const { page } = Astro.props
const allPosts = page.data as CollectionEntry<'posts'>[]
---

<BaseLayout title="Blog - Astro">
  <Main>
    <h1 class="mb-5 text-6xl">Astro Blog</h1>
    <p class="mb-12 sm:mb-24">Join the Community and learn.</p>

    <PostList posts={allPosts} />
    <div class="py-8">
      <Pagination prevURL={page.url.prev} nextURL={page.url.next} />
    </div>
  </Main>
</BaseLayout>
