---
import { Image } from 'astro:assets'
import notFoundImage from '~/assets/bg.png'
import BaseHead from '~/components/BaseHead.astro'
---

<html lang="en">
  <head>
    <BaseHead title="404 - Astro Blog" />
  </head>
  <body class="max-h-screen min-h-screen">
    <div class="grid lg:grid-cols-2">
      <Image
        src={notFoundImage}
        alt="Not found"
        class="max-h-[50vh] basis-1/3 object-cover lg:max-h-screen"
      />
      <div class="flex flex-col items-center justify-between gap-4 p-8">
        <span class="text-sm font-medium uppercase">Astro Blog</span>
        <div class="grid max-w-xl place-items-center gap-6 text-center">
          <h1 class="text-balance text-3xl font-bold">
            Opps! You have discovered a world not found!
          </h1>
          <p class="text-pretty font-medium">
            Home is just a click away. Let's go back and continue our regular
            life.
          </p>
          <a
            href="/"
            class="inline-flex h-12 max-w-fit items-center justify-center bg-black px-6 text-sm font-medium text-white"
            >Go to home</a
          >
        </div>

        <span class="font-medium">Error code 404</span>
      </div>
    </div>
  </body>
</html>
