---
import { getCollection } from 'astro:content'
import CategoryList from '~/components/CategoryList.astro'
import Main from '~/components/Main.astro'
import Pagination from '~/components/Pagination.astro'
import PostList from '~/components/PostList.astro'
import BaseLayout from '~/layouts/BaseLayout.astro'

const allPosts = (await getCollection('posts')).slice(0, 6)
const allCategories = allPosts.flatMap(post => post.data.categories)
const categories = Array.from(new Set(allCategories))
---

<BaseLayout title="Blog - Astro">
  <Main>
    <h1 class="mb-5 text-6xl">Astro Blog</h1>
    <p class="mb-12 sm:mb-24">Join the Community and learn.</p>

    <div class="mb-8 grid items-center gap-3 sm:grid-cols-[auto,1fr]">
      <h2 class="text-xl font-bold">Tags</h2>
      <CategoryList categories={categories} />
    </div>

    <PostList posts={allPosts} />

    <div class="py-8">
      <Pagination nextURL="/blog/2" />
    </div>
  </Main>
</BaseLayout>
