---
import BaseHead from '~/components/BaseHead.astro'
import Footer from '~/components/Footer.astro'
import Header from '~/components/Header.astro'

type Props = {
  title?: string
  description?: string
  keywords?: string
  image?: string
}

const { title, description, keywords, image } = Astro.props
---

<html lang="en">
  <head>
    <BaseHead
      title={title}
      image={image}
      description={description}
      keywords={keywords}
    />
  </head>
  <body class="grid min-h-screen grid-rows-[auto,1fr,auto]">
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style is:global>
  html {
    scrollbar-gutter: stable;
  }
</style>
